extends layout

block content
    h1= title       
        - var image_names= ["Red Umbrella.jpg","Blue Umbrella.jpg","Green Umbrella.jpg","Yellow Umbrella.jpg","Pink Umbrella.jpg"]            
            -for(let i=0;i<3;i++){
                - let randnum=Math.floor(Math.random()*5)
                 img(src= `/images/${image_names[randnum]}` alt="image", height="300", width="300")
            -}